---
interface Props {
  value?: string
  link?: string
  id?: string
}
const { value, link, id } = Astro.props
const buttonClasses =
  'bg-body rounded-xl border flex justify-center items-center border-accent_red text-accent_red h-8 w-32 hover:bg-accent_red hover:text-body'
---

{
  link && value ? (
    <a href={link} target="_blank">
      <button id={id} class={buttonClasses}>
        {value}
      </button>
    </a>
  ) : link === undefined && value ? (
    <button id={id} class={buttonClasses}>
      {value}
    </button>
  ) : null
}
