---
import { Image } from 'astro:assets'

const {projectImages} = Astro.props
const { altText } = Astro.props
---

<section class="mx-4 mt-10">
  <h2 class="text-text text-2xl">Project screenshots</h2>

  <article
    class="max-w-2xl tablet:max-w-full mt-3 pt-2 tablet:flex tablet:justify-center tablet:gap-12"
  >
    <div class="tablet:max-w-2xl 2xl:max-w-3xl">
      <Image
        id="main-screenshot"
        class="w-full h-full rounded-lg"
        src={projectImages[0].image}
        alt={`screenshot ${altText} project`}
      />
    </div>

    <div class="flex gap-2 justify-between pt-6 tablet:pt-0 tablet:flex-col">
    {projectImages.map((projectImg: any)=>(
       <Image
        class="screenshot max-w-[6rem] bp-460:max-w-[8rem] bp-730:max-w-[10rem] max-h-24 transition duration-150 cursor-pointer rounded-lg hover:scale-[1.1] hover:opacity-100"
        src={projectImg.image}
        alt={`screenshot ${altText} project`}
      />
    ))}
    </div>
  </article>
</section>

<style>

  .screenshot {
    opacity: 0.3;
  }

  .active-screenshot {
    scale: 1.1;
    opacity: 1;
    border: 1px solid var(--color-accent-red);
  }
</style>

<script>
  const screenshots = document.querySelectorAll('.screenshot')
  document.addEventListener('DOMContentLoaded', initiateFunc)
  
  function initiateFunc() {
    screenshots[0].classList.add('active-screenshot')
    screenshots.forEach((btn) => {
      btn.addEventListener('click', (e) => {highlightClikedImg(e)})
    })
    
    function highlightClikedImg(e: Event) {
      screenshots.forEach(
        (img) => img != e.target && img.classList.remove('active-screenshot'),
      )
      const target = e.target as Element

      if (!target.classList.contains('active-screenshot')) {
        target.classList.toggle('active-screenshot')

        const activeSrc = document
          .querySelector('.active-screenshot')
          .getAttribute('src')

        const mainScreenshot = document.querySelector(
          '#main-screenshot',
        ) as HTMLImageElement

        mainScreenshot.src = activeSrc
      }
      return false
    }

  }
</script>
