---
// Layout and components
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ProjectScreenshots from '../../components/ProjectScreenshots.astro'
import ProjectNavigate from "../../components/ProjectNavigate.astro";

// Project images
import twitterFeed from '/assets/twitter-feed.png'
import twitterProfile from '/assets/twitter-profile.png'
import twitterAdmin from '/assets/twitter-admin.png'
import twitterTweet from '/assets/twitter-tweet.png'

// Navigation booleans
const isFirstProject = true
const isLastProject = false

---

<ProjectLayout>


    <div class="mx-4">
    <h1 class="text-accent_green text-3xl mobile:text-5xl">Twitter clone</h1>
    </div>

    <section class="grid items-center content-center tablet:grid-cols-2 mx-4">

        <article>

        <p class="max-w-[45ch]">This project was part of my 1. semester Web Developement exam. The overall project included a long list of features and
         <a class="text-accent_green hover:underline" href="https://drive.google.com/file/d/1b3ob96RPYIW83Ka7L6rynulW35MwIlv9/view?usp=drive_link">requirements.
        </a> This project also served as my introduction to Python, <a class="text-accent_green hover:underline" href="https://bottlepy.org/docs/dev/"> Bottle</a> and SQL databases.</p>

        <div class="flex gap-8 my-8 tablet:my-4">
        <a href="https://ande.eu.pythonanywhere.com/">
        <button class="bg-body rounded-xl border flex justify-center items-center border-accent_red text-accent_red h-8 w-32 hover:bg-accent_red hover:text-body">Demo</button>
        </a>

        <button class="bg-body rounded-xl border flex justify-center items-center border-accent_red text-accent_red h-8 w-32 hover:bg-accent_red hover:text-body">Repo</button>
        </div>
        </article>

        
        <div class="">
        <img class="object-cover max-w-[40rem] rounded-lg w-full tablet:max-w-2xl" src={twitterFeed} alt="Screenshot Twitter Clone project">
        </div>

    </section>

        <section class="mx-4 mt-6">
        <h2 class="text-text text-2xl">Stack / technologies</h2>
        <article class="flex flex-wrap mt-4 justify-start gap-4">
        
        <div class="bg-body rounded-xl border flex justify-center items-center border-accent_green text-accent_green h-8 w-28">Tailwind</div>
        <div class="bg-body rounded-xl border flex justify-center items-center border-accent_green text-accent_green h-8 w-28">Javascript</div>
        <div class="bg-body rounded-xl border flex justify-center items-center border-accent_green text-accent_green h-8 w-28">Python/Bottle</div>
        <div class="bg-body rounded-xl border flex justify-center items-center border-accent_green text-accent_green h-8 w-28">REST API</div>
        <div class="bg-body rounded-xl border flex justify-center items-center border-accent_green text-accent_green h-8 w-28">SQLite</div>
        </article>
    </section>
    
    <ProjectScreenshots
    img_1={twitterTweet}
    img_2={twitterProfile}
    img_3={twitterAdmin}
    altText="Twitter Clone"
    />

    <ProjectNavigate
    isFirstProject={isFirstProject}
    isLastProject={isLastProject}
    linkPrevious = ""
    linkNext = "/projects/countries-project/"
    />


</ProjectLayout>


